<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Mono&display=swap&family=Shrikhand&display=swap" rel="stylesheet">
    <title>Take a Paws</title>

</head>

<body>
<header>
    <nav>
        <div class="container container-nav">
            <ul>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
            </ul>

 <div class="container container-header">
        <div class="title">
            Take a Paws
        </div>
    </div>
</header>

<p>From one anxious dog lover to another. Life can be a lot, and sometimes we just need to pause, take a moment and look at pictures of dogs.</p>

<p>My own dog, Ember, has changed my life more than I can ever explain and is the reason I smile most days.</p>

<img alt="Ember" src="{{url_for('static', filename='ember.webp')}}">

<p>It is proven that dogs can have a positive impact on human's mental health, and they teach us so much about living in the moment and taking things slow.</p>

<h2>"Dogs have a way of finding the people who need them, and filling the emptiness we didn't know we had."</h2>
<br>
<br>
<p><a href="https://dog.ceo/dog-api/">This website uses the Random Dog API :)</a></p>
</body>
