<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <title>Take a Paws</title>

</head>

<body>
<header>
  <div class="container container-header">
        <h1 class="title">
            Take a Paws
        </h1>
    </div>
</header>

<br>

<h3>Click the button below for a surprise &#128062;</h3>

<br>

<button class="btn btn-primary random" aria-label="Fetch a random dog image">Fetch &#128062;</button>

      <div id="dogImageContainer"></div>

<script src="{{url_for('static', filename='script.js')}}"></script>

<br>
<br>
<h2>you can always find hope in the eyes of a dog</h2>
<br>
<br>
</body>

<footer class="page_footer">
<p>&#128062; Made with &#129294; by Ruth</p>

</footer>

